[Unit]
Description=X Window Manager (bspwm)
Documentation=man:bspwm(1)
PartOf=gui-session-pre.target
After=gui-session-pre.target
BindsTo=gui-session.target
Before=gui-session.target

[Service]
Type=notify
NotifyAccess=all
Slice=session.slice
EnvironmentFile=%h/.config/systemd/user/bspwm.env
ExecStart=/usr/bin/bspwm
ExecStop=/usr/bin/bspc quit
ExecReload=/usr/bin/bspc wm -r

[Install]
WantedBy=gui-session-pre.target
