[Unit]
Description=A C daemon that turns your webcam into a light sensor.
Documentation=man:clight(1)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/clight
Restart=on-failure
Slice=background.slice

[Install]
WantedBy=graphical-session.target
