[Unit]
Description=Flexible Context-aware Input Tool with eXtension
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
ExecStart=/usr/bin/fcitx5
Restart=always
Slice=background.slice

[Install]
WantedBy=graphical-session.target

