[Unit]
Description=X color management daemon
Documentation=man:xiccd(8)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/xiccd
Restart=on-failure
RestartSec=3sec
Slice=background.slice

[Install]
WantedBy=graphical-session.target
