[Unit]
Description=a blazing fast wayland wallpaper utility with IPC controls
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
ExecStart=/usr/bin/hyprpaper
Restart=on-failure
RestartSec=1s
Slice=background.slice

[Install]
WantedBy=graphical-session.target
