*

!.bashrc
!.drirc
!.fonts.conf
!.gitignore
!.gtkrc-2.0
!.tmux.conf
!.vimrc
!.zshrc

!.config/
!.config/GIMP/
!.config/GIMP/2.10/
!.config/GIMP/2.10/gimprc
!.config/btop
!.config/btop/btop.conf
!.config/dconf/
!.config/dconf/user
!.config/environment.d/
!.config/environment.d/*
!.config/gtk-3.0/
!.config/gtk-3.0/settings.ini
!.config/gtk-4.0/
!.config/gtk-4.0/settings.ini
!.config/helix/
!.config/helix/*
!.config/hypr/
!.config/hypr/*
!.config/mako/
!.config/mako/config
!.config/mpv/
!.config/mpv/mpv.conf
!.config/picom/
!.config/picom/picom.conf
!.config/pipewire/
!.config/pipewire/pipewire.conf.d/
!.config/pipewire/pipewire.conf.d/alsa-dmix.conf
!.config/psd
!.config/psd/psd.conf
!.config/rofi/
!.config/rofi/config.rasi
!.config/rofi/themes/
!.config/rofi/themes/rounded-common.rasi
!.config/rofi/themes/rounded-blue-dark.rasi
!.config/systemd/
!.config/systemd/user/
!.config/systemd/user/clight.service
!.config/systemd/user/fcitx5.service
!.config/systemd/user/hyprland-session.target
!.config/systemd/user/plasma-polkit-agent.service
!.config/systemd/user/syncthing.service.d/
!.config/systemd/user/syncthing.service.d/override.conf
!.config/systemd/user/waybar.service.d/
!.config/systemd/user/waybar.service.d/override.conf
!.config/waybar/
!.config/waybar/*
!.config/wireplumber/
!.config/wireplumber/wireplumber.conf.d/
!.config/wireplumber/wireplumber.conf.d/80-disable-alsa.conf
!.gnupg/
!.gnupg/dirmngr.conf
!.ssh/
!.ssh/config
!Pictures/
!Pictures/kanagawa-inverted-darker.jpg
