/* Run 'waybar -l debug' to viewing the widget tree */
/* https://www.w3.org/TR/selectors-3 */
/* https://docs.gtk.org/gtk3/css-properties.html */
/* https://docs.gtk.org/gtk3/css-overview.html#colors */
/* Specificity
a = Number of ID selectors
b = number of class selectors
c = number of type selectors
*/
@define-color gruvbox-bg #282828;
@define-color gruvbox-fg #ebdbb2;
@define-color gruvbox-red #cc241d;
@define-color gruvbox-green #98971a;
@define-color gruvbox-yellow #d79921;
@define-color gruvbox-blue #458588;
@define-color gruvbox-purple #b16286;
@define-color gruvbox-gray #a89984;

window#waybar {
  background-color: transparent;
  font-family: Material Design Icons, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

/* HiDPI adjustments for DP-3 START */
window#waybar.DP-3 {
  font-size: 22px;
}

window#waybar.DP-3 widget:first-child .module {
  margin-left: 0;
}

window#waybar.DP-3 widget .module {
  margin: 5px;
}

/* HiDPI adjustments for DP-3 END */

tooltip {
  background: @gruvbox-bg;
  border: 2px solid @gruvbox-gray;
  font-size: 13px;
}

tooltip label {
  color: @gruvbox-fg;
}

.modules-left widget:first-child .module {
  margin-left: 6px;
}

.modules-right widget:last-child .module {
  margin-right: 6px;
}

/* If workspaces is the leftmost module, omit left margin */
/* .modules-left>widget:first-child>#workspaces {
  margin-left: 0;
} */

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right>widget:last-child>#workspaces {
  margin-right: 0;
} */

#backlight,
#battery,
#clock,
#cpu,
#idle_inhibitor,
#keyboard-state,
#memory,
#mpd,
#network,
#power-profiles-daemon,
#privacy,
#pulseaudio,
#submap,
#temperature,
#tray,
#window,
#workspaces {
  background-color: @gruvbox-bg;
  border-radius: 8px;
  color: @gruvbox-fg;
  padding: 0 5px;
  transition-property: background-color;
  transition-duration: .5s;
}

#battery.charging,
#battery.plugged {
  color: @gruvbox-bg;
  background-color: @gruvbox-green;
}

@keyframes blink {
  to {
    background-color: @gruvbox-bg;
    color: @gruvbox-fg;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: @gruvbox-red;
  color: @gruvbox-fg;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock:hover {
  background-color: @gruvbox-yellow;
  color: @gruvbox-bg;
}

#idle_inhibitor.activated {
  background-color: @gruvbox-fg;
  color: @gruvbox-bg;
}

#keyboard-state {
  padding: 0;
}

#keyboard-state>label {
  padding: 0 5px;
}

#keyboard-state>label.locked {
  background: @gruvbox-fg;
  color: @gruvbox-bg;
}

#mpd {
  background-color: @gruvbox-bg;
  color: @gruvbox-fg;
}

#mpd.disconnected {
  background-color: @gruvbox-red;
}

#mpd.paused {
  background-color: @gruvbox-gray;
}

#mpd.stopped {
  background-color: @gruvbox-fg;
  color: @gruvbox-bg;
}

#network.disconnected {
  background-color: @gruvbox-red;
}

#power-profiles-daemon.performance {
  background-color: @gruvbox-red;
  color: @gruvbox-fg;
}

#power-profiles-daemon.balanced {
  background-color: @gruvbox-blue;
  color: @gruvbox-fg;
}

#power-profiles-daemon.power-saver {
  background-color: @gruvbox-green;
  color: @gruvbox-bg;
}

#pulseaudio:hover {
  background-color: @gruvbox-yellow;
  color: @gruvbox-bg;
}

#pulseaudio.muted {
  color: @gruvbox-gray;
}

#temperature.critical {
  background-color: @gruvbox-red;
}

#tray {
  background-color: @gruvbox-fg;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @gruvbox-red;
}

#window,
#workspaces {
  background-color: transparent;
  padding: 0;
}

#workspaces button {
  background-color: @gruvbox-bg;
  border-radius: 0;
  color: @gruvbox-fg;
  padding: 0 5px;
}

#workspaces button:first-child {
  border-radius: 8px 0 0 8px;
}

#workspaces button:last-child {
  border-radius: 0 8px 8px 0;
}

#workspaces button:only-child {
  border-radius: 8px;
}

#workspaces button:hover {
  background: @gruvbox-yellow;
  box-shadow: inset 0 -3px @gruvbox-fg;
  color: @gruvbox-bg;
}

/* focused */
#workspaces button.active {
  background-color: @gruvbox-gray;
  color: @gruvbox-bg;
}

#workspaces button.urgent {
  background-color: @gruvbox-purple;
}

/* When no windows are in the workspace */
/* window#waybar.empty {
    background-color: transparent;
} */

/* When one tiled window is visible in the workspace (floating windows may be present) */
/* window#waybar.solo {
    background-color: #FFFFFF;
} */

#privacy {
  padding: 0;
  background-color: @gruvbox-fg;
  color: @gruvbox-bg;
}

#privacy-item {
  padding: 0 5px;
}