/* Run 'waybar -l debug' to viewing the widget tree */
/* https://www.w3.org/TR/selectors-3 */
/* https://docs.gtk.org/gtk3/css-properties.html */
/* Specificity
a = Number of ID selectors
b = number of class selectors
c = number of type selectors
*/
* {
  border-radius: 8px;
}

window#waybar {
  background-color: transparent;
  font-family: Material Design Icons, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar.DP-3 {
  font-size: 22px;
}

tooltip {
  background: #282828;
  border: 2px solid #665c54;
  font-size: 13px;
}

tooltip label {
  color: #ebdbb2;
}

.modules-left widget:first-child>box {
  margin-left: 6px;
}

.modules-right widget:last-child>box {
  margin-right: 6px;
}

/* If workspaces is the leftmost module, omit left margin */
/* .modules-left>widget:first-child>#workspaces {
  margin-left: 0;
} */

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right>widget:last-child>#workspaces {
  margin-right: 0;
} */

#backlight,
#battery,
#clock,
#cpu,
#idle_inhibitor,
#keyboard-state,
#memory,
#mpd,
#network,
#power-profiles-daemon,
#privacy,
#pulseaudio,
#submap,
#temperature,
#tray,
#window,
#workspaces {
  background-color: #282828;
  color: #ebdbb2;
  padding: 0 5px;
  transition-property: background-color;
  transition-duration: .5s;
}

#battery.charging,
#battery.plugged {
  color: #282828;
  background-color: #98971a;
}

@keyframes blink {
  to {
    background-color: #282828;
    color: #ebdbb2;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #cc241d;
  color: #ebdbb2;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock:hover {
  background-color: #d79921;
  color: #282828;
}

#idle_inhibitor.activated {
  background-color: #ebdbb2;
  color: #282828;
}

#keyboard-state {
  padding: 0;
}

#keyboard-state>label {
  padding: 0 5px;
}

#keyboard-state>label.locked {
  background: #ebdbb2;
  color: #282828;
}

#mpd {
  background-color: #282828;
  color: #ebdbb2;
}

#mpd.disconnected {
  background-color: #cc241d;
}

#mpd.paused {
  background-color: #665c54;
}

#mpd.stopped {
  background-color: #ebdbb2;
  color: #282828;
}

#network.disconnected {
  background-color: #cc241d;
}

#power-profiles-daemon.performance {
  background-color: #cc241d;
  color: #ebdbb2;
}

#power-profiles-daemon.balanced {
  background-color: #2980b9;
  color: #ebdbb2;
}

#power-profiles-daemon.power-saver {
  background-color: #98971a;
  color: #282828;
}

#pulseaudio:hover {
  background-color: #d79921;
  color: #282828;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#temperature.critical {
  background-color: #cc241d;
}

#tray {
  background-color: #ebdbb2;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#window,
#workspaces {
  background-color: transparent;
  padding: 0;
}

#workspaces button {
  background-color: #282828;
  border-radius: 0;
  color: #ebdbb2;
  padding: 0 5px;
}

#workspaces button:first-child {
  border-radius: 8px 0 0 8px;
}

#workspaces button:last-child {
  border-radius: 0 8px 8px 0;
}

#workspaces button:only-child {
  border-radius: 8px;
}

#workspaces button:hover {
  background: #d79921;
  box-shadow: inset 0 -3px #ebdbb2;
  color: #282828;
}

/* focused */
#workspaces button.active {
  background-color: #665c54;
}

#workspaces button.urgent {
  background-color: #b16286;
}

/* When no windows are in the workspace */
/* window#waybar.empty {
    background-color: transparent;
} */

/* When one tiled window is visible in the workspace (floating windows may be present) */
/* window#waybar.solo {
    background-color: #FFFFFF;
} */

#privacy {
  padding: 0;
  background-color: #ebdbb2;
  color: #282828;
}

#privacy-item {
  padding: 0 5px;
}